<div class="article">

    <div class="title">
        <a href="{{ url }}">
            <h4>{{ title }}</h4>
            <p class="source">{{ source }}</p>
        </a>
    </div>

    <div class="meta">
        <p class="points">{{ points }}</p>
        <p class="vote"><a href="https://news.ycombinator.com/vote?for={{ id }}&dir=up">Vote up</a></p>
    </div>

</div>