<div class="article">

    <a href="{{ url }}">
        <h4>{{ title }}</h4>
        <p class="subtext">
            {{ points }} points by {{ submitter }}
            {{ comment_count }} comments
        </p>
        {{#if mobalised }}
        <p>Word count: {{ word_count }}</p>
        <p>Reading time: {{ reading_time }} minutes</p>
        {{/if}}
    </a>

</div>